{% extends 'base.html.twig' %}

{% block title %}User Profile{% endblock %}

{% block body %}
<section id="profile-page">
    <div class="container">
        <div class="row">
            <div class="col-md-10 m-auto">
                <h1 class="fw-bolder" style="color: limegreen;">Profile</h1>

                <p class="fs-3"><strong style="color: limegreen;">Email:</strong> {{ user.email }}</p>

                <h3 style="color: limegreen;">Preferences:</h3>
                <twig:ProfileForm :profile="user.volunteerProfile"/>
                <h3 style="color: limegreen;">Matchings:</h3>
                <ul>
                    {% for matching in matchings %}
                        <li>
                            <a href="{{ path('app_conference_show', {id: matching.conference.id}) }}">
                                {{ matching.conference.name }}
                            </a>
                        </li>
                    {% else %}
                        <li>No matchings yet...</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock %}
