{% extends 'base.html.twig' %}

{% block title %}Volunteer on a Conference{% endblock %}

{% block body %}
    <section class="container row row-cols-1">
        <div class="col-md-8 mx-auto">
            <h1>Volunteer on a Conference</h1>
        </div>

        {{ include('includes/_form.html.twig', {button_label: 'Save'}) }}
    </section>
{% endblock %}
